* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Tahoma, sans-serif; */
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: rgb(234, 237, 237); 
}
