.login {
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img {
    display: block;
    width: 100px;
    height: 80px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login__container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
}

.login__title {
    margin-bottom: 10px;
}

.login__container form h5 {
    margin-bottom: 10px;
}

.login__container form input {
    width: 95%;
    height: 30px;
    color: #000;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #000000;
}

.login__signInButton {
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #f3b462;
    border: 1px solid #c07f06;
    color: black;
    font-weight: 700;

    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.login__createAccountButton {
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(204, 200, 200);
    border: 1px solid #000;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.login__signInButton:hover {
    background-color: #e99528;
}
.login__createAccountButton:hover {
    background-color: rgb(160, 156, 156);
}

.login__google {
    width: 95%;
    margin-bottom: 10px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.login__google button {
    width: 100%;
}

.login__google:hover{
    background-color: #74a3b8;
}

.login__description {
    width: 95%;
    margin-bottom: 10px;
    font-size: 12px;
}

.login__alert {
    color: red;
    line-height: 2;
}
